{% extends "app/base.html" %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Order</h1>
        </div>
                <!-- --------- Product Grid ----------------------  -->
        <h3 class="order-id">
            <a class="label label-primary" href="/order?id={{ order.id }}">{{ order.id }}</a>
        </h3>
        <p>
            <div>Status: {{ order.status }}</div>
            <div>Created Date: {{ order.createdDate }}</div>
        </p>
        <div class="row">
            {% for orderLine in order.orderLines %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail product-thumbnail">
                    <a href="{% url 'views.product' %}?id={{orderLine.product.id}}">
                        <img src="{{orderLine.product.imageUrl}}" alt="product name"></a>
                    <div class="product-caption">
                        <h3 id="name">Product: {{orderLine.productId}}</h3>
                        <h3>Price: {{orderLine.product.price}} &#36;</h3>
                        <p>Qty: {{orderLine.quantity}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div>
            <a href="/orders" class="btn btn-info">Orders</a>
        </div>
    </div>

{% endblock %}

